<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/journey"></ion-back-button>
  </ion-buttons>

  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img style="border-radius: 8px;" src="../../../../../assets/novo-restaurents-bar.png" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <div class="container">
    <div>
      <h2 style="text-align: center;">RESTAURANTS & BARS</h2>
      <h3 style="text-align: center;">At Novotel, it is up to you to decide when, where and what you want to eat</h3>
      <h4>QUOIN</h4>
      <p>Quoin is a 24 hours chic and modern sports bar where you can find distinctive flavours of your favourite brew,
        mood-setting music and fresh locally produced mouth-watering food. Guests can enjoy their favourite drinks & food
        round the clock. With an 'Always Game On’ philosophy, similar to a signal to play in a sports match, Quoin is ready
        to entertain the sports lovers by screening their favourite matches. With games like Foosball, Pool, a virtual
        real-life golf simulator and many board games, guests can undertake many drinking challenges and games at Quoin.
        Inspired by the concept of Liberty and Leisure, one can sense it in the look and feel of this stylish bar which is
        inspired by the lotus flower with elegant, individual lotus style seating, providing a comfortable and spacious
        lounge and bar for guests to relax and unwind. The soft music playing in the background energizes you and is idyllic
        to the vibe of Quoin and the popular house music sets the tone for the evening. Quoin provides an alfresco seating
        that resonates with our philosophy of Liberty and Leisure under the open sky. Located at lobby level,</p>
      <p><b>Operating hours:</b> 24 Hrs.</p>
    </div>
    <div>
      <h4>FOOD EXCHANGE</h4>
      <p>Food Exchange is a signature restaurant at Novotel New Delhi Aerocity offering an exceptional culinary experience
        comprising of Indian, Asian and European flavours coupled with an impeccable ambiance. It has a unique & modern take
        on a “gastro-hub” serving as a primary public food & beverage center of all the activities at the hotel. It offers a
        casual elegant dining experience with a progressive modern approach to traditional Indian cuisine featuring
        artisanal desserts and familiar comfort food,all refined for the moderndiner'spalate.There is an option to go for
        ala carte or buffet menu.The lavish breakfast,lunch and dinner buffet spreads showcases a different menu for each
        meal. The USP of the buffet at Food Exchange is the choice of cuisines ranging from North Indian, South Indian,
        Oriental, Italian and more. Guests can also choose to sit at the alfresco area.
        Located at lobby level,</p>
      <p><b>Operating hours:</b><br>
        Breakfast:0630 hrs to 1030 hrs(1100 hrs.on weekends) Lunch:1200 hrs to 1500 hrs,Dinner:1900 hrs to 2330 hrs (1230
        hrs to 1530 hrs on weekends)</p>
    </div>
    <div>
      <h4>PLING</h4>
      <p>Pling is an elegant and tranquil lounge-bar at Pullman NewDelhi Aerocity.Pling is inspired by the sound of ice
        dropping in a glass of liquid and connotes good times and shared laughter. The place orders a high-end lounge bar
        experience with live music, exclusive club style services and showcases thes ignature'Vinoteca by Pullman'which
        offers an international wine selection by the glass or bottle. Menu at Pling is curated to enhance the beverage
        experience at Pling. The beverage menu is made using fresh, homemade syrups with herbs from the in-house farm The
        elegantly designed aesthetics of the bar, accompanied by the sumptuous selection of hors d'oeuvres and tapas, makes
        it a perfect place to meet friends and associates alike.
        Located at lobby level,</p>
      <p><b>OperatingHours:</b>1100hrs to 00:30 hrs</p>
    </div>
    <div>
      <h4>PLUCK</h4>
      <p>Pluck is a modern-day eatery at Pullman NewDelhi that serves Modern European and Contemporary Indian flavours.Pluck
        is committed too offering the freshest and safest ingredients in a seasonal menu that is locally focused and
        globally artistic in cultivating a healthy relationship on the table. The classy European interiors with a subtle
        colour scheme provide an elegant appeal to the restaurant.With an in-house farm of 5000sq.,ourchefs pluck the
        freshest ingredients for the meal and the result can be felt in every bite. The menu is divided into two sections:
        Modern European and Contemporary Indian flavours. Pluck overlooks the grand courtyard which makes the restaurant
        very natural and sunny.At Pluck, the plating takes an upper hand; every dish at Pluck is artistically presented.
        Located at lobby level,</p>
      <p><b>Operating Hours:</b>
        Breakfast:0630 hrs to 1030 hrs(1100 hrs on weekends) Lunch:1200 hrs to 1500 hrs,Dinner:18:00 hrs to 23:30 hrs Sunday
        Brunch:12:30 hrs to15:30 hrs</p>
    </div>
    <div>
      <h4>CAFÉPLUCK</h4>
      <p>Café Pluck is a contemporary and stylish grab and go delicatessen located at Pullman New Delhi Aerocity. It offers
        an extensive range of tea, coffee and other beverages along with freshly baked treats and gourmet retail goods. It's
        a perfect new spot to grab a cup of freshly brewed coffee even at mid night.The elegant urban setting,free Internet
        access and convenient location next to Airport make it a favorite meeting place in the city. The café also has its
        own in-house coffee roaster. Another highlight of the café is the Maître de Café or the Barista who can teach the
        art of coffee making to the guests. Stop by the café to experience the extraordinary world of Pullman's wonderful
        selection of modern dishes ranges from Soups, salads mains, street food around the world and Desserts etc.<br>
        Located at lower ground level,<br>
        <b>Operating hours:</b> Round the clock</p>
    </div>
    <div>
      <h4>HONK</h4>
      <p>Honk-abistro-styl especialty restaurant at Pullman New Delhi Aerocity serving a contemporary Asian à la carte
        menu.Serving Street Smart Food is the motto at Honk.While the food takes inspiration from the street-style cuisine
        popular in Asia, the presentation and décor are distinctly natural. The menu has been carefully curated to showcase
        culinary influences from the diverse regions of Asia,primarily Chinese and Japanese with aglimpseof Thai and
        Singaporean as well as a touch of Indonesian. The menu at Honk is designed with culinary inuences from South
        EastAsia.At Honk,special emphasis is laid on procuringt he right ingredients like the Soy Sauce from Singapore or
        the Low Fat Tuna like Maguro from Japan, and more to provide an unparalleled dining experience to the guests.
        Located at lower lobby level,</p>
      <p><b>Operating Hours:</b>
        Lunch: 1200 hrs. to 1500 hrs. Dinner:18:00 hrs.to 23:30 hrs.</p>
    </div>
    <div>
      <h4>PREMIERLOUNGE</h4>
      <p>Read a book or sip a coffee, Premier Lounge is a place to unwind, relax and do what you love doing. When you
        upgrade yourself to our newly launched Premier Lounge overlooking the landscapes of Aerocity, there is a lot you can
        enjoy other than just a stay.
        Located at 6th floor
        OperatingHours: 0630 hrs to 2300 hrs</p>
    </div>
    <div>
      <h4>INROOMDINING</h4>
      <p>For privacy, you can always dine in the luxury of your room with our round the clock In room dining. Choose from a
        wide selection of food and beverages listed in our exclusive In room dining menu. To place your order, kindly dial
        ‘0’.
      </p>
    </div>
    <div>
      <h4>BY THE POOL</h4>
      <p>‘By The Pool’ is a trendy and elegant bar located at the poolside. The bar offers an incredible experience to the
        guests who wish to sit by the poolside and relish some refreshing drinks & concoctions, curated by our expert
        mixologists. The pool bar with an easy-going and informal essence makes it a popular choice amongst our guests. The
        casual ambiance of the pool bar is best suited for a relaxed time. Television screen along the poolside is a perfect
        option to enjoy your favourite game of cricket,football and other sports.The menu also has a selection of reasonably
        priced drinks and snacks.</p>
      <p><b>Operating hours:</b><br>
        Daily: 1100hrs. to 2000hrs.</p>
    </div>
  </div>
</ion-content>
