<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/journey"></ion-back-button>
  </ion-buttons>

  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img style="border-radius: 8px;" src="../../../../../assets/novo-reception.png" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <div class="container">
    <div>
      <h4>AVAILABLE AT THE RECEPTION</h4>
      <p>Business services webcorner,fax,newspaper</p>
      <h4>SERVICES</h4>
      <ul>
        <li>
          <p>Iron, multi-standard plug, luggage room, postage stamps, travel assistance, wheel chair assistance, slippers,
            shoe shine, maps.</p>
        </li>
        <li>
          <p>BabyAmenities-Baby'sbottlewarmer,highchair,babycot.</p>
        </li>
        <li>
          <p>24 hrs Laundry Service - Use the laundry bag and the order form.</p>
        </li>
      </ul>
      <h4>DOCTOR</h4>
      <ul>
        <li>
          <p>For any medical assistance, a doctor is available on call (charges applicable). Please contact Novotel Connect
            or dial ‘0’.</p>
        </li>
      </ul>
      <h4>BANKING</h4>
      <ul>
        <li>
          <p>A24/7 ATM is located within walking distance of the hotel.
            For bank information please contact Concierge, dial ‘0’.</p>
        </li>
      </ul>
      <h4>PETS</h4>
      <ul>
        <li>
          <p>Pets are not permitted in the hotel premises.</p>
        </li>
      </ul>
      <h4>PARKING</h4>
      <ul>
        <li>
          <p>Valet parking is available.Vehicles are parked at owner's risk.The management does not hold responsibility for
            the vehicle or any valuables kept inside.</p>
        </li>
      </ul>
      <h4>TRANSPORTATION</h4>
      <ul>
        <li>
          <p>Concierge will be glad to arrange all your transportation requirements.</p>
        </li>
        <li>
          <p>A wide range of activities can be arranged. For outdoor excursions, tennis, golf and other activities, please
            contact Novotel Connect or dial ‘0’.</p>
        </li>
      </ul>
      <h4>NON-SMOKING AREAS/SMOKING AREAS</h4>
      <ul>
        <li>
          <p>Smoking is only allowed in designated areas and rooms for smoking. Kindly contact Novotel Connect for details.
          </p>
        </li>
      </ul>
      <h4>SECURITY FEATURES</h4>
      <ul>
        <li>
          <p>Hotel security is provided round the clock with both security patrols and closed circuit television
            coverage.For your own safety and protection,please remember to keep your door double locked when in your room
            and to identify any visitor before admitting them.</p>
        </li>
      </ul>
      <h4>MEETINGS & EVENTS</h4>
      <ul>
        <li>
          <p>For meetings, events or cocktails, we have an entirely moldable Ballroom along with a total of 13 Comeeting
            rooms, 3 boardrooms and a picturesque courtyard. Our sales/events team will be pleased to give you all the
            information you may require. For further information or to setup a meeting with our Catering Sales team,please
            contact Novotel Connect,orDial‘0’.</p>
        </li>
      </ul>
    </div>
  </div>
</ion-content>