<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/journey"></ion-back-button>
  </ion-buttons>

  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img style="border-radius: 8px;" src="../../../../../assets/novo-fitness.png" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <div class="container">
    <div>
      <h2 style="text-align: center;">FITNESS AND SPA</h2>
      <h4>IN BALANCE FITNESS BY NOVOTEL</h4>
      <p>Our Health Club is a sleek and elegant space with natural daylight.It is a spacious fitness centre with
        state-of-the-art equipment from Life Fitness under the supervision of professional trainers.<br>
        <b>Opening hours:</b> 24 Hours
        located at level2,extension 8218</p>
      <h4>WOO WELLNESS SPA & SALON</h4>
      <p>Known for its authentic "Purifying & Recess from Stress" spa experiences through treatments for revitalization of
        the body, mind, and soul. Woo Wellness Spa & Salon is a friendly and welcoming respite from the stresses of typical
        daily living. <br>Opening Hours:Spa Treatment:o700hrs.too200hrs.<br>
        Spa wet Areas: 0730 hrs. to 00oo hrs.<br>
        locatedatlevel2,extension 8205</p>
    </div>    
  </div>
</ion-content>