<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/journey"></ion-back-button>
  </ion-buttons>

  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img style="border-radius: 8px;" src="../../../../../assets/novo-reception.png" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <div class="container">
    <h2 style="text-align: center;color: #20255F;">RÉCEPTION</h2>
    <ul><b>FREEWIFI</b>
      <li>
        <p>Wireless high flow Internet access.</p>
      </li>
      <li>
        <p>High Flow Wired Connection.</p>
      </li>
      <li>
        <p>For more information, dial Novotel Connect or ‘0’.</p>
      </li>
    </ul>
    <ul><b>WEB CORNER ON @ MAC</b>
      <p>Novotel offers a Web corner on @ Mac in the Lobby area where you can have access to the internet.</p>
    </ul>
    <ul><b>VIRTUAL CONCIERGE-MONSCIERGE</b>
      <p>An interactive software application allowing you to discover the area around the hotel, maps, directions, flight
        information, restaurants and much more.</p>
    </ul>
  </div>
</ion-content>
