
@font-face {
  font-family: 'Novotype';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../assets/font/ElMessiri-Regular.ttf');
}

@font-face {
  font-family: 'Novotype';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/font/ElMessiri-Medium.ttf');
}

@font-face {
  font-family: 'Novotype';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/font/ElMessiri-SemiBold.ttf');
}

@font-face {
  font-family: 'National';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../assets/font/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'National';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/font/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'National';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/font/Montserrat-SemiBold.ttf');
}

