<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/journey"></ion-back-button>
  </ion-buttons>

  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img style="border-radius: 8px;" src="../../../../../assets/novo-room.png" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <div class="container">
    <h2 style="text-align: center;">ROOM</h2>
    <h4>.TELEVISION</h4>
    <p>Watch your favourite program in the comfort of your room. Choose from our wide range of listed channels.</p>
    <h4>.TELEPHONE</h4>
    <p>INTERNAL LINES:<br>
      Room to room: Dial 7 + the room number<br>
      EXTERNAL LINES:<br>
      Local calls: Dial 9 + Telephone number<br>
      Domestic calls: Dial 9+ Area code+ Telephone number<br>
      International calls: Dial 9 + 00 + Country code + Area code + Telephone number</p>
    <p>For detailed information on telephone changes and any further assistance, please contact Novotel Connect or dial ‘0’.
    </p>
    <h4>.AIR-CONDITIONING</h4>
    <p>Your room has an individual thermostat that can be adjusted to the temperature desired. For any assistance, please
      contact Novotel Connect or dial ‘0’.</p>
    <h4>.PILLOWS</h4>
    <p>For your comfort we have a choice of pillows available on request with Housekeeping. Please contact Novotel Connect
      or dial ‘0’.</p>
    <h4>.VOICEMAIL</h4>
    <p>If you have received a voice mail, the room telephone light will blink. You may retrieve it by pressing the message
      button on your phone.</p>
    <h4>ELECTRICPOWER</h4>
    <p>Power in the room: 220 Volts <br>
      In the bathroom: 220 Volts and 110 Volts for electric razors</p>
    <h4>.WAKEUPSERVICE</h4>
    <p>We would be happy to give you a wake-up call at your desired time.
      To place a wake up call request, please contact Novotel Connect or dial ‘0’. Should you like to place an order for tea
      or coffee along with your wake up call, please let us know.</p>
    <h4>.WATER</h4>
    <p>Tap water is not recommended for drinking. For your convenience, two complimentary bottles of water are provided in
      your room.</p>
    <h4>.LOST & FOUND</h4>
    <p>If you have misplaced a personal item in the hotel, please contact Novotel connect. Lost items found are kept for the
      period of 90 days. We will be pleased to send them to your desired address or you can organize your own pickup
      arrangements (charges may apply). Dial +91 11 4608 0808</p>
    <h4>.OTHER IN ROOM SERVICES</h4>
    <p>Minibar, Electronic Safe, Tea and Coffee maker, Iron & Iron Board, Newspaper, Bluetooth Music Speaker and Alarm
      Clock.</p>
    <h4>.SAFETY & SECURITY</h4>
    <ul>At the Novotel New Delhi Aerocity, the safety and security of our guests are our first priority.
      <li>
        <p>Emergency evacuation instructions are located at the back of your room door. It also indicates the location of
          the fire exits and hydrants on your floors.</p>
      </li>
      <li>
        <p>The hotel is fully equipped with sprinklers, smoke detectors and other fire emergencies systems.</p>
      </li>
      <li>
        <p>A safe deposit box is available in your room. We recommend you use it to store any valuables with your preferred
          code and not share it with anybody.</p>
      </li>
    </ul>
    <h4>WHEN IN YOUR ROOM</h4>
    <p>.If someone knocks on the door, remember to look through your peep hole to identify the person before you open it.
      Please be advised that all our team members wear name badges.</p>
    <p>If you do not wish to be disturbed, simply press the "Do Not Disturb" switch located near the room entrance.</p>
    <h4>WHEN YOU LEAVE YOUR ROOM:</h4>
    <p>Close your door and carry your room card with you. It is advisable not to hand over your key card to anybody else.
    </p>
    <h4>IN CASE OF EMERGENCY:</h4>
    <ul>
      <li>
        <p>Keep calm and don't panic.</p>
      </li>
      <li>
        <p>Take the nearest evacuation route assisted by the hotel personnel and re authorities. Be alert for public
          address announcements.</p>
      </li>
      <li>
        <p>In the event of a major earthquake, protect your head from falling debris and stand underneath a strong structure
          like a structural beam or wall.</p>
      </li>
      <p>Walk calmly down to the evacuation site outside the building, once the tremors stop, as aftershocks are likely to
        occur.</p>
    </ul>
    <h4>WHEN MOVING AROUND THE AREA; IT IS ALWAYS ADVISABLE TO FOLLOW THE STEPS BELOW:</h4>
    <ul>
      <li>
        <p>When using a taxi, take note of the taxi number.</p>
      </li>
      <li>
        <p>Take a hotel card from Concierge.</p>
      </li>
      <li>
        <p>Be alert of suspicious persons and activities.</p>
      </li>
    </ul>
  </div>
</ion-content>
