<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/journey"></ion-back-button>
  </ion-buttons>

  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img style="border-radius: 8px;" src="../../../../../assets/novo-room-dir-banner.png" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <div class="container">
    <div>
      <h2 style="text-align: center;">Welcome</h2>
      <h4 style="text-align: center;">IT’S A LOT BETTER AT NOVOTEL</h4>
      <p>Our unique approach to hospitality, one that is built on simplicity and elegance, is loved the world over.<br>
        From the gym to the pool, the spa, there is a place for everyone. And our teams, known for their attention to detail,
        are always at hand.</p>
    </div>
  </div>
</ion-content>
