<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/journey"></ion-back-button>
  </ion-buttons>

  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img style="border-radius: 8px;" src="../../../../../assets/novo-swimming.png" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <div class="container">
    <div>
      <h2 style="text-align: center;">SWIMMING POOL</h2>
      <p>Our Pool is an outdoor temperature regulated, 24 meter lap swimming pool with state of the art furniture by
        "Dedon". We provide robes, towels, slippers and personal amenities for usage at the pool.</p>
      <p>Operating hours:<br>
        Summer timings-0600 hrs to 2200hrs<br>
        Winter timings -0800 hrs to 2000 hrs <br>
        Located at level 2 (can be accessed through the In Balance Fitness Centre)</p>
    </div>
  </div>
</ion-content>